@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Melodrama';
  src: url('../fonts/Melodrama.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Excon';
  src: url('../fonts/Excon.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Ranade';
  src: url('../fonts/Ranade.ttf');
  font-weight: 100 900;
}
